{% extends '_template.html.twig' %}

{% block title %}Symfoheim - Home
{% endblock %}

{% block main %}
	<div>
		<h2>Welcome to Symfoheim</h2>
		<h3>What is Symfoheim?</h3>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum exercitationem odit perferendis omnis, illo commodi ipsa nulla fuga quam repellat molestiae excepturi, maxime officiis, ea modi earum! Distinctio, quisquam odio!
																											Omnis nesciunt maiores saepe et ipsa magni placeat animi fuga veritatis velit earum expedita, laudantium quia perferendis nostrum consequuntur amet? Exercitationem inventore ut cumque fugiat aut, tempore dolor recusandae non!</p>
		<h3>
			<a href="{{ path('app_login') }}">Login</a>
			/ Register</h3>
		{# Form #}
	</div>
{% endblock %}
