{% extends "base.html.twig" %}

{% block header %}
	<div id="topBar">
		<div>Symfoheim</div>
		<div>Account (Login/Register)</div>
	</div>
	<div id="pageTitle">
		<img src="{{asset('build/images/logo_interplanetravels_70.png')}}" alt="{{ pageTitle }} illustration"/>

		<h1>
			{{ pageTitle }}
		</h1>
	</div>
{% endblock %}
