<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Symfoheim
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('main') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('main') }}
	</head>
	<body>
		{% block body %}
			<header>
				{% block header %}{% endblock %}
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer>
				{% block footer %}
					<p>Site Symfoheim © Maxime Rousseau 2022</p>
					<p>Mordheim © Games Workshop 1999</p>
				{% endblock %}
			</footer>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</body>
</html>
